<div class="center hero-unit">
  <h1>Welcome to Heli</h1>
<p>Heli ist da; in app/views/welcome/index.html.erb<br>
  <%= @text %>
</p>
<p>und da sind seine <a href="/users/">user</a> LOL<br></p>
<p>und da die messages an Heli <a href="/you2_helis/">You2Heli</a> (;-)<br></p>
<p>about Heli <a href="/pages/about">Heli about</a> <br></p>
<p>Help on Heli <a href="/pages/help">Heli help</a> <br></p>
<hr />
<p>
http://www.omniauth.org/ <br>
http://net.tutsplus.com/tutorials/ruby/how-to-use-omniauth-to-authenticate-your-users/<br>
https://github.com/intridea/omniauth/wiki<br>
https://github.com/robertjwhitney/programr<br>
https://github.com/robertjwhitney/alice-programr<br>
http://aiml-programr.rubyforge.org/rdoc/index.html<br>
http://ruby.railstutorial.org/<br>
https://github.com/helmeloh/heli/<br>
https://dashboard.heroku.com/apps/heli-bot<br>
http://heli-bot.herokuapp.com/<br>
bis 5.2 Sass and the asset pipeline
</p>
  <%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>
