
<% provide(:title, 'Welcome') %>
<div class="center hero-unit">
  <h1>Welcome to Heli</h1>

  <%= @text %>



</p>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>
