<h1>Heli</h1>
<p>Heli ist da; in app/views/welcome/index.html.erb<br>
  <%= @text %>
</p>
http://www.omniauth.org/ <br>
http://net.tutsplus.com/tutorials/ruby/how-to-use-omniauth-to-authenticate-your-users/<br>
https://github.com/intridea/omniauth/wiki<br>
https://github.com/robertjwhitney/programr<br>
https://github.com/robertjwhitney/alice-programr<br>
http://aiml-programr.rubyforge.org/rdoc/index.html

